body{
    background-color: purple;
  }
  #id {
    background-image: URL("friv.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }
  .pepe {
    background: rgba(0, 128, 0, 0.3);
    background-repeat: repeat-x;
  }