body {
    background-color: rgb(68, 64, 64);
    
}

.puerta{
    background-color: rgb(94, 109, 109);
  position: absolute;
    left: 400px;
    width: 550px;
    height: 550px;
    box-shadow: 0 0 50px rgba(7, 7, 7, 0.3); /* Modifica los valores según tus preferencias */
}
.grilla1{
    position: absolute;
    left: 20px;
    bottom: 80px;
    display: grid;
 grid-template-columns: repeat(3, minmax(0,100px));
gap: 20px;
}
.grilla2{
    position: absolute;
    left: 750px;
    bottom: 250px;
    display: grid;
 grid-template-columns: repeat(2, minmax(0,80px));
gap: 20px;
}
.bot{
    background-color: brown;
    height: 50px;
    width: 50px;
}
.bot2{
    background-color: brown;
    height: 50px;
    width: 50px;
}
.delete{
    background-color: brown;
    position: absolute;
    left: 750px;
    bottom: 390px;
    height: 50px;
    width: 150px;
    font-size: 50px;
}
.equal{
    background-color: brown;
    position: absolute;
    left: 750px;
    bottom: 180px;
    height: 50px;
    width: 150px;
    font-size: 50px;
}
.bot {
    font-size: 50px; /* Ajusta el tamaño de la fuente según lo necesites */
    /* Otros estilos de los botones */
   
  }

  #result {
    font-size: 32px; /* Ajusta el tamaño de la fuente según lo necesites */
    height: 80px; /* Ajusta la altura del input para agrandar la pantalla */
    
  }

  
  